<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    
<head>
    
<title>

Payments Dashboard/ The Expensive App

</title>

	<!-- html / head / css / begin -->
    <link th:href="@{/css/theme/sketchy.css}" rel="stylesheet" />
        
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
<!-- html / head / css / end -->

</head>

<body>

  	<!-- html / navigation / top / begin -->
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">

  <div class="container-fluid">

    <a class="navbar-brand" href="/home/landing">
    
The Expensive App

</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">

      <ul class="navbar-nav me-auto">

        <li class="nav-item">

          <a class="nav-link active" href="/home/landing">Home

            <span class="visually-hidden">(current)</span>

          </a>

        </li>



        

<li class="nav-item dropdown">

<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">

Payments

</a>

<div class="dropdown-menu">

<a class="dropdown-item"   <a href="/payments/">

Payment Dashboard

</a>

<a class="dropdown-item" href="/payments/add">

Add New Payment

</a>

<div class="dropdown-divider">

</div>

</div>

</li>        
        
      </ul>
      


    </div>
  </div>
</nav>
<!-- html / navigation / top / end -->

<main class ="container"></main>

<section class="row m-1"></section>

<main class="container">   

    <section class="row m-1">

        <article class="col">

            <p class ="text-center" th:text="${error}"></p>

            <p class ="text-center" th:text="${info}"></p>

        </article>

    </section>

</main>

<div class="container">

    <h1>Payments Dashboard</h1>

<section class="row m-1">

    <p th:text="'Sup ' + ${myUser.firstName} +'. check out all your payments we have in the system. ' "/>

</section>

        <table class="table table-bordered table-striped" >
        
        <thead>
            
        <tr>
            
            <th scope="col">uniqueclients</th>
            
            <th scope="col">count</th>
            
            <th scope="col">topline</th>
            
            <th scope="col">clientoftheweek</th>          
            
        </tr>
        
        </thead>
        
        <tbody>
            
        <tr >

            <td th:text="${uniqueclients}"></td>

            <td th:text="${count}"></td>
            
            <td th:text="${topline}"></td>
            
            <td th:text="${clientoftheweek}"></td>
    

           
            
            
            
        </tr>
        
        </tbody>
        
    </table>
  
    <table class="table table-bordered table-striped" >
        
        <thead>
            
        <tr>
            
            <th scope="col">id</th>           
            
            <th scope="col">who</th>

            <th scope="col">amount</th>            

            <th scope="col">what</th>
            
            <th scope="col">detail</th>
                                    
            <th scope="col">state</th>

            <th scope="col">waitingonyou</th>
            
        </tr>
        
        </thead>
        
        <tbody>
            
        <tr th:each="payment : ${payments}">

            <td th:text="${payment.id}"></td>
            
            <td th:text="${payment.client}"></td>

            <td th:text="${payment.amount}"></td>
            
            <td th:text="${payment.title}"></td>
            
            <td th:text="${payment.description}"></td>
                     
            <td th:text="${payment.state}"></td>

            <td th:text="${payment.waitingonyou}"></td>

            <td>
            
                <a th:href="@{'/payments/edit/' + ${payment.id}}">
                
                    Edit
                
                </a>
                
            </td>
            
            <td>            
                
            </td>
            
            <td>
                
                <a th:href="@{'/payments/delete/' + ${payment.id}}">
                    
                    Delete
                    
                </a>
                
            </td>
            
        </tr>
        
        </tbody>
        
    </table>
    
</div>

<!-- html / body / javascript / begin --><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script th:src="@{/script.js}"> </script>
<script th:src="@{/js/script.js}"> </script><!-- html / body / javascript / end -->

</body>

</html>
