<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>

        <title> List Accounts / The Expensive App </title>

        <!-- html / head / css / begin -->
    <link th:href="@{/css/theme/sketchy.css}" rel="stylesheet" />
        
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
<!-- html / head / css / end -->

    </head>

    <body>

        <!-- html / navigation / top / begin -->
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">

  <div class="container-fluid">

    <a class="navbar-brand" href="/home/landing">
    
The Expensive App

</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">

      <ul class="navbar-nav me-auto">

        <li class="nav-item">

          <a class="nav-link active" href="/home/landing">Home

            <span class="visually-hidden">(current)</span>

          </a>

        </li>



        

<li class="nav-item dropdown">

<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">

Payments

</a>

<div class="dropdown-menu">

<a class="dropdown-item"   <a href="/payments/">

Payment Dashboard

</a>

<a class="dropdown-item" href="/payments/add">

Add New Payment

</a>

<div class="dropdown-divider">

</div>

</div>

</li>        
        
      </ul>
      


    </div>
  </div>
</nav>
<!-- html / navigation / top / end -->

        <main class ="container"></main>
        <section class="row m-1"></section>
        <section class="row m-1">
            <p th:text="'Welcome back, ' + ${myUser.firstName}"/>
        </section>

        <main class="container">
            <section class="row m-1">
                <article class="col">
                    <p class ="text-center" th:text="${error}"></p>
                    <p class ="text-center" th:text="${info}"></p>
                </article>
            </section>
        </main>


        <div class="container">
            <h1>The Expensive App > List Users</h1>
            <table class="table table-bordered table-striped" >
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th> 

                        <th scope="col">Last Name</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Actions</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="myUser : ${myUserList}">
                        <td th:text="${myUser.id}"></td>
                        <td th:text="${myUser.firstName}"></td>
                        <td th:text="${myUser.lastName}"></td>
                        <td th:text="${myUser.email}"></td>

                        <td>
                            <a th:href="@{'/user/edit/' + ${myUser.id}}">
                                Edit
                            </a>
                        </td>
                        <td>
                            <a th:href="@{'/user/delete/' + ${myUser.id}}">
                                Delete
                            </a>
                        </td>
                    </tr>

                </tbody>

                <tfoot>

                </tfoot>        

            </table>

        </div>

        <!-- html / body / javascript / begin --><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script th:src="@{/script.js}"> </script>
<script th:src="@{/js/script.js}"> </script><!-- html / body / javascript / end -->

    </body>

</html>
